name: password_rule_check
description: A Flutter Widget to display if a password matches given Rules
version: 0.0.1+3
homepage: https://github.com/zweidenker/password_rule_check

environment:
  sdk: ">=2.12.0 <3.0.0"
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^1.0.4
  flutter_test:
    sdk: flutter

  mocktail: ^0.1.4

flutter:

